/*INDEX.html*/
body, html{
    height: 100%;
}

.modalBG{
    display: none;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4)
}

#sign-up {
    position: absolute;
    width: 400px;
    height: 550px;
    border-radius: 30px;
    background: #fff;
    margin-left: calc(50% - 180px);
    top:calc(50% - 600px);
}

#login {
    position: absolute;
    width: 400px;
    height: 250px;
    border-radius: 30px;
    background: #fff;
    margin-left: calc(50% - 180px);
    top:calc(50% - 550px);
}
