/*login & sign up*/
#welcome-screen h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: none;
}
#welcome-screen h1 span{
    font-weight: 700;
    font-style: italic;
}
.welcome-buttons{padding-top:4rem;}
#sign-up,#login{
    color:#efe7d3 ;
    background:#a3b1b2;
    padding-top: 3rem;
}
.exit{
    position:absolute;
    top:1rem;
    right:1rem;
}
.exit i{
    display:inline;
    padding-left:1rem;
    color:#685c5c;
}
/*groups page*/
.event-header h2{
    font-family: "Oswald", sans-serif;
    font-size: 5rem;
}
.event-header strong{
    font-size: 2.75rem;
}
.event-header p{
    font-size: 2rem;
}
.group-card{
    background: rgba(76,49,114,.3);
}
.edit-event{
    color:#ffb900;
    position: absolute;
    top:1rem;
    right:0rem;
}
i.remove-member{
    display: inline;
    color:#ffb900;
    padding-left: 1rem;
}
